<div class="account">
    <h1><%= title %></h1>
    <%- messages() %>
    <form id="accountUpdate" action="/account/update/" method="post">

        <label for="account_firstname">First name:</label>
        <input type="text" name="account_firstname" id="accountFirstname" required value="<%= accountData.account_firstname %>">
        
        <label for="account_lastname">Last name:</label>
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= accountData.account_lastname %>">

        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" placeholder="example@email.com" required value="<%= accountData.account_email %>">

        <input type="hidden" name="account_id" value="<%= accountData.account_id %>">
        <button type="submit" >Update Account</button>

    </form>

 
    <form id="passwordUpdate" action="/account/update/password" method="post">
        
        <label for="account_password">Password:</label>
        <input 
            type="password" 
            id="account_password" 
            name="account_password" 
            required
            pattern="(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}"
            title="Must be at least 12 characters, include 1 capital letter, 1 number, and 1 special character"
        >
        <!-- Toggle checkbox -->
        <label>
        <input type="checkbox" id="togglePassword">
        Show password
        </label>
    
        <!-- Password rules message -->
        <div id="passwordHelp">
            Password must:
            <ul>
            <li>Be at least 12 characters</li>
            <li>Contain at least 1 capital letter</li>
            <li>Contain at least 1 number</li>
            <li>Contain at least 1 special character</li>
            </ul>
        </div>
        <br>
        <button type="submit">Change Password</button>
        <input type="hidden" name="account_id" value="<%= accountData.account_id %>">
    </form>
</div>
<script src="/js/script.js"></script>